.Ticket {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  padding: 20px;
  background: var(--true-white-color);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: all .3s ease-in-out;
}

.Ticket__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.Ticket__row._header {
  margin-bottom: 10px;
}

.Ticket__price {
  display: flex;
  align-items: center;
}

.Ticket__logo {
  height: 36px;
  padding-right: 30px;
}
