body {
  margin: 0;
  background-color: var(--main-bg-color);
  font-family: 'Open Sans', sans-serif;
}

:root {
  /* Colors */
  --main-bg-color: #f3f7fa;
  --true-white-color: #ffffff;
  --primary-color: #2196f3;
  --secondary-color: #f1fcff;
  --dark-gray-color: #4a4a4a;
  --light-gray-color-1: #a0b0b9;
  --light-gray-color-2: #dfe5ec;
  --light-blue-color: #9abbce;
}
